.main {
  min-height: 100%;
  height:max-content;
  display: grid;
  width: 100%;
  place-items: center;
  overflow: hidden;
}
.main h1{
  font-family: "Honk", sans-serif;
  font-size: 8rem;
  color: #fff;
  margin-bottom: 20px;
}
.main_screen p{
  font-family: "Honk", sans-serif;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
}
.select_mode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
}
.select_mode p{
  font-size: 1.5rem;
}
.modes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.modes p{
  font-weight: 700;
  font-size: 1.5rem;
  color: blueviolet;
  margin-top: 15px;
}
.modes .current_mode{
  background-color: #ffffff33;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}
.modeoptions {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 120px;
  border-radius: 10px;
  background-color: #fff;
  height: max-content;
}
.modeoptions button{
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  background-color: transparent;
  font-size: 1rem;
  letter-spacing: 1px;
  color: #fb7f04;
  padding: 10px;
}
.modeoptions button:hover{
  background-color: #fb7f04;
  color: #fff;
}
.modeoptions button:active{
  transform: scale(0.95);
}
.modeoptions button:last-child{
  border-radius: 10px;
}
.modeoptions button:first-child{
  border-radius: 10px;
}
.modeoptionshidden{
  display: none;
}
.startbtn{
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  background-color: transparent;
  color: #fff;
  font-size: 3rem;
  padding: 20px;
  border-radius: 10px;
}
.startbtn:hover{
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}
.welcomeImages{
  position: absolute;
}
.welcomeImages:nth-child(1){
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

}
.welcomeImages:nth-child(2){
  top: 0;
  right: 0;
}
.backgroundImg{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
@media screen and (max-width: 576px) {
  .main {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .main h1{
    font-size: 6rem;
  }
  .main_screen p{
    font-size: 3rem;
  }

  .select_mode p{
    font-size: 1.5rem;
  }
  .modes p{
    font-size: 2rem;
  }
  .modeoptions{
    width: 250px;
  }
  .modeoptions button{
    font-size: 2rem !important;
  }

  .startbtn{
    font-size: 3.5rem;
    text-decoration: none;
    border: 1px solid #fff;
    margin-top: 40px;
  }
}
